<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="@{crud.properties.base_package}.@{crud.properties.model}.mapper.@{crud.table.className}Mapper">
	<!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        #
        for(column in crud.table.columns){
            var str = "";
            if(columnLP.index!=1) {
              str = str + ",";
            }
            str = str + strutils.toLowerCase(column.columnName);
            if(strutils.toLowerCase(column.columnName)!=strutils.toLowerCaseFirst(column.columnJavaName) ) {
              str = str + " as " + strutils.toLowerCaseFirst(column.columnJavaName);
            }
            print(str);
        }
        println("");
        #
    </sql>
	
    <resultMap id="BaseResultMap" type="@{crud.table.className}">
		# for(column in crud.table.columns){ #
			# if(column.pk) { #
		<id column="@{column.columnName}" property="@{strutils.toLowerCaseFirst(column.columnJavaName)}" />
			# } else { #
		<result column="@{column.columnName}" property="@{strutils.toLowerCaseFirst(column.columnJavaName)}" />
			# } #
	    # } #
    </resultMap>
	
	<select id="get@{crud.table.className}Page" resultType="@{crud.table.className}">
        select <include refid="Base_Column_List" /> from @{crud.table.tableName} where 1 = 1
        # for(column in crud.table.searchColumns){ #
        	# if(strutils.equals('date',strutils.toLowerCase(column.sqlTypeName)) || strutils.equals('datetime',strutils.toLowerCase(column.sqlTypeName)) || strutils.equals('timestamp',strutils.toLowerCase(column.sqlTypeName)) ) { #
        <if test="@{strutils.toLowerCaseFirst(column.columnJavaName)} != null ">
			and @{column.columnName} >= \#{@{strutils.toLowerCaseFirst(column.columnJavaName)}}
		</if>
            # } else { #
        <if test="@{strutils.toLowerCaseFirst(column.columnJavaName)} != null and @{strutils.toLowerCaseFirst(column.columnJavaName)} != ''">
			and @{column.columnName} like '%${@{strutils.toLowerCaseFirst(column.columnJavaName)}}%' 
		</if>
            # } #
        # } #
        <choose>
            <when test="orderByField != null and orderByField !=''">
                <choose>
                    <when test="isAsc == true">
                        order by ${orderByField} ASC
                    </when>
                    <otherwise>
                        order by ${orderByField} DESC
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                order by id DESC
            </otherwise>
        </choose>
    </select>
	
</mapper>
